@import "@material/ripple/mdc-ripple";
@import "@material/typography/mdc-typography";
@import "@material/theme/mdc-theme";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
}

.main-content {
  margin: 8px;
}

.content {
  display: inline-flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.mdc-menu-surface.mdc-menu-surface--open {
  z-index: 999;
}
