@import "@material/icon-button/mdc-icon-button";
@import "@material/menu-surface/mdc-menu-surface";

.tf-list {
  display: flex;
  flex-wrap: wrap;
}

.tf-list-card {
  width: 350px;
  height: 250px;
  margin: 5px;
  padding: 10px;
}

.text-field-filter-container {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  margin: 5px;
  position: relative;
}

.text-field-filter-control-container {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  margin: 5px 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.text-field-filter-control {
 display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  margin: 0 5px;
}

.menu-action-panel {
  text-align: end;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
