.hero {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  min-height: 360px;
  padding: 24px;
  background-color: #eee;
}

.mat-tab-group {
  max-width: 95vw;
  flex: 1 1 auto;
}

:host {
  flex: 1 1 auto;
}
