:host {
  flex: 1 0 200px;
  max-width: 300px;
}

.sidebar-header {
  min-height: 48px;
  font-size: 18px;
  padding-left: 24px;
}

.mdc-list-item__text {
  pointer-events: none;
}

.mdc-list {
  cursor: pointer;
}

.mdc-list-item {
  border-radius: 4px;
  margin: 0 24px 8px 12px;
}
