
:host {
  flex: 2 1 auto;
  min-width: 270px;
}

.sandbox-options-container {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  margin: 48px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.demo-checkbox-input {
  margin-top: 15px;
  min-width: 250px;
  overflow: hidden;
  padding: 5px 5px 5px 0;
}
